html,
body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #333;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  padding-top: 30px;
  color: #ccc;
}

.footer__nav {
  margin-bottom: 30px;
}

.footer__info {
  border-top: 1px solid #333;
}

.copyright, .disclaimer {
  margin: 0;
  padding: 15px 0;
  color: #ccc;
}

.nav-list__title {
  font-size: 16px;
  text-transform: uppercase;
}
.nav-list .nav-link {
  color: #ccc;
}


.intro {}
.intro__title {
  font-size: 16px;
  text-transform: uppercase;
}
.intro__text {
  color: #ccc;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media(max-width:767px) {
  .nav li > form > button.logout {
      display:block;
      text-align: left;
      width: 100%;
      padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.grid-view {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Movie ======= */
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  display: block;
  color: #333;
  position: relative;
}

.movie__quality {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .1rem;
  background-color: #5cb85c;
  position: absolute;
  right: 7.5px;
  top: 7.5px;
}

.movie__poster {
  max-width: 100%;
}

.movie__title {
  font-size: 14px;
  text-decoration: none;
}

.movie--single {
  display: flex;
  flex-direction: row;
}

.movie--single .movie__media {
  width: 200px;
  margin-right: 1.25rem;
}

.movie--single .movie__poster {
  max-width: 100%;
}

.movie--single .movie__title {
  font-size: 24px;
}

.movie--single .movie__plot {
  color: #999999;
}

.movies--carousel .movie__title {
  display: none;
}

.movies--grid .movie {
  width: 15.5%;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  box-shadow: inset 0px -2px 0 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  color: #333;
  position: relative;
}

.movies--grid .movie:hover {
  text-decoration: none;
  background-color: #0275d8;
  box-shadow: inset 0px -2px 0 0 rgba(0,0,0, 0.2);
  color: white;
}

.movies--grid .movie__media {}
.movies--grid .movie__poster {
  max-width: 100%;
}

.movies--grid .movie__title {
  margin-top: auto;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.movie--single .movie__attributes {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.movie--single .movie__tags {}

/* Attributes ======= */
.attributes {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 300px;
}

.attribute {}
.attribute__label {}
.attribute__value {}

/* Tag list ======= */
.tag-list {
  display: flex;
  margin: 0;
  align-items: center;
}

.tag-list__label {}

.tag {
  padding: 5px;
  margin: 0 7.5px;
  background-color: #eee;
}

.tag__link:hover {
  text-decoration: none;
}

/* Widget ======= */
.widget {
  margin-bottom: 60px;
}

.widget__actions {
  float: right;
}

.widget__title {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/* Brand ======= */
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

/* Search ======= */
.search {}
.search__input {
  margin-right: 7.5px;
  border-color: white;
}
.search__button {}

/* Hero, Jumbotron ======= */
.jumbotron {
  padding: 6rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
  background-color: #eee;
  border-radius: .3rem;
}

/* Carousel ======= */
.owl-carousel {
  margin: 0;
  position: relative;
}

.owl-carousel .owl-nav [class*=owl-] {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  width: 60px;
  height: 60px;
  line-height: 56px;
  border-radius: 0;
  text-align: center;
  z-index: 100;
  margin: 0;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
  background-color: #0275d8;
  color: #ffffff;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 140px;
}

.owl-carousel .owl-prev {
  right: 15px;
}

.owl-carousel .owl-next {
  left: 15px;
}

.owl-carousel .owl-dots {
  display: none !important;
}

/*.video-js {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
}*/


.comments {
}